*
!.gitignore
!atomic_pickaxe
!atomic_pickaxe/**
!Automatic_Coupling_System
!Automatic_Coupling_System/**
!ColorblindCircuitNetwork
!ColorblindCircuitNetwork/**
!Electronic_Locomotives
!Electronic_Locomotives/**
!global-power-network
!global-power-network/**
!more-achievements
!more-achievements/**
!more-casting
!more-casting/**
!research-complete
!research-complete/**
!mod-list.json
!mod-settings.dat